src/compose/volumes/echo-skill/data/flows.json
[{"id":"1ffd4ae2.3fc615","type":"tab","label":"Service  Provovider 1","disabled":false,"info":""},{"id":"58283f8d.5a784","type":"tab","label":"Service Provider 2","disabled":false,"info":""},{"id":"8d42983d.4adc88","type":"tab","label":"Service Requestor 1","disabled":false,"info":""},{"id":"9432d94b.0e9ef8","type":"tab","label":"Router","disabled":false,"info":""},{"id":"414c7aba.18b754","type":"amqp-server","z":"","host":"${CORE_BROKER_HOST}","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"egress\",\"type\":\"topic\"},\n\t\t{\"name\": \"ingress\",\"type\":\"topic\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"serviceRequestorIn1\"},\n\t\t{\"name\": \"serviceProviderIn1\"},\n\t\t{\"name\": \"serviceProviderIn2\"},\n\t\t{\"name\": \"serviceProviderInGeneric\"}\n\n\t\t\n\t\t],\n\t\"bindings\": [\n\t    {\"source\": \"ingress\", \"queue\": \"serviceRequestorIn1\",\"pattern\":\"ingress.i40:registry-semanticProtocol/bidding.serviceRequestor.*\"},\n\t    {\"source\": \"ingress\", \"queue\": \"serviceProviderInGeneric\",\"pattern\":\"ingress.i40:registry-semanticProtocol/bidding.serviceProvider.*\"},\n\t\t{\"source\": \"ingress\", \"queue\": \"serviceProviderIn1\",\"pattern\":\"ingress.i40:registry-semanticProtocol/bidding.serviceProvider.sp1.*\"},\n\t    {\"source\": \"ingress\", \"queue\": \"serviceProviderIn2\",\"pattern\":\"ingress.i40:registry-semanticProtocol/bidding.serviceProvider.sp2.*\"}\n\n\t]\n}"},{"id":"1ec38802.304b58","type":"websocket-listener","z":"","path":"/ws/pub","wholemsg":"false"},{"id":"d6499cdc.7f646","type":"websocket-client","z":"","path":"/ws/sub/sr1","tls":"","wholemsg":"false"},{"id":"46acc44c.af95ec","type":"websocket-client","z":"","path":"/ws/sub/sp1","tls":"","wholemsg":"false"},{"id":"bcaff826.d51fe8","type":"websocket-client","z":"","path":"/ws/sub/sp2","tls":"","wholemsg":"false"},{"id":"f64e130.f178cf","type":"amqp out","z":"1ffd4ae2.3fc615","name":"send msg to frame.receiver","routingkey":"${CORE_EGRESS_ROUTINGKEY}","iotype":"3","ioname":"${CORE_EGRESS_EXCHANGE}","server":"414c7aba.18b754","x":1220,"y":320,"wires":[]},{"id":"b3dcd746.d70cd8","type":"amqp in","z":"1ffd4ae2.3fc615","name":"serviceProviderIn","topic":"","iotype":"4","ioname":"serviceProviderIn1","server":"414c7aba.18b754","x":100,"y":380,"wires":[["dfc0e670.fedfa8"]]},{"id":"e492aca9.02031","type":"debug","z":"1ffd4ae2.3fc615","name":"SendProposal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":720,"y":280,"wires":[]},{"id":"dfc0e670.fedfa8","type":"function","z":"1ffd4ae2.3fc615","name":"fix amqp lib bug","func":"msg.amqpMessage = {}\ntry{\nmsg.payload = JSON.parse(msg.payload)\n}catch(e){\n    //is object\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["77104099.0d1f7","3bd2739d.43d68c"]]},{"id":"77104099.0d1f7","type":"debug","z":"1ffd4ae2.3fc615","name":"ServiceProviderIn","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":320,"wires":[]},{"id":"beddd131.5b29c","type":"amqp out","z":"8d42983d.4adc88","name":"send msg to frame.receiver","routingkey":"${CORE_EGRESS_ROUTINGKEY}","iotype":"3","ioname":"${CORE_EGRESS_EXCHANGE}","server":"414c7aba.18b754","x":1420,"y":540,"wires":[]},{"id":"c05a1de7.ca3ff","type":"amqp in","z":"8d42983d.4adc88","name":"serviceRequestorIn","topic":"","iotype":"4","ioname":"serviceRequestorIn1","server":"414c7aba.18b754","x":110,"y":260,"wires":[["e3967711.1fb278"]]},{"id":"d5a0f156.c5e7e","type":"debug","z":"8d42983d.4adc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":500,"wires":[]},{"id":"e3967711.1fb278","type":"function","z":"8d42983d.4adc88","name":"fix amqp lib bug","func":"msg.amqpMessage = {}\n\n\ntry{\nmsg.payload = JSON.parse(msg.payload)\n}catch(e){\n    //is object\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["7bdd2a9c.5b92c4","ff3f5b6e.f070d8"]]},{"id":"7bdd2a9c.5b92c4","type":"debug","z":"8d42983d.4adc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":180,"wires":[]},{"id":"3db96a0e.627e16","type":"function","z":"8d42983d.4adc88","name":"handleProposal","func":"var global_proposals = global.get(\"proposals\");\nglobal_proposals.push(msg.payload);\nglobal.set(\"proposals\",global_proposals);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":240,"wires":[["4b7f62ab.b6c7fc"]]},{"id":"a5ed9e25.53698","type":"function","z":"8d42983d.4adc88","name":"handleNotUnderstood","func":"msg.amqpMessage = {}\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":280,"wires":[["1e907975.d66507"]]},{"id":"68eaab41.44e0d4","type":"inject","z":"8d42983d.4adc88","name":"startEvaluationOfProposals","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":600,"wires":[["2d317a06.bce026"]]},{"id":"74ea6f12.0cfe4","type":"function","z":"8d42983d.4adc88","name":"evaluateProposals","func":"\nvar global_proposals = global.get(\"proposals\");\n\nif(global_proposals.length === 0){\n    console.log(\"did not receive any proposal\")\n    return\n}\n\nindex = Math.floor(Math.random() * global_proposals.length)\nvar best_proposal = global_proposals[index];\n\nvar accepted_proposals =[best_proposal]\nvar not_accepted_proposals = [];\nglobal_proposals.forEach(function(proposal,i){\n    // do some logic here to compare..\n    if(index!=i){\n        not_accepted_proposals.push(proposal)\n    }\n})\n\nvar msg_not_accepted_proposals = {payload:not_accepted_proposals}\nvar msg_accepted_proposals = {payload:accepted_proposals}\n\nglobal.set(\"proposals\",[]);\nreturn [msg_not_accepted_proposals,msg_accepted_proposals];","outputs":2,"noerr":0,"x":570,"y":600,"wires":[["e337d433.5d86c8"],["97618ce5.0b926"]]},{"id":"d7f90d1d.9f95b","type":"function","z":"8d42983d.4adc88","name":"sendNotAcceptedResponses","func":"var p = JSON.parse(JSON.stringify(msg.payload))\nvar sender = p.frame.receiver\nvar receiver = p.frame.sender\np.frame.sender = sender\np.frame.receiver = receiver\np.frame.type = \"rejectProposal\"\nmsg.payload = p\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":580,"wires":[["beddd131.5b29c","4f8080ab.89fb6","d39c0c36.33097"]]},{"id":"f9844b8a.7648f8","type":"switch","z":"8d42983d.4adc88","name":"","property":"payload.frame.type","propertyType":"msg","rules":[{"t":"eq","v":"proposal","vt":"str"},{"t":"eq","v":"notUnderstood","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":260,"wires":[["3db96a0e.627e16"],["a5ed9e25.53698"]]},{"id":"2d317a06.bce026","type":"function","z":"8d42983d.4adc88","name":"setup global variables","func":"var global_proposals = global.get(\"proposals\");\nif(global_proposals=== undefined){\n   global.set(\"proposals\",[]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":540,"wires":[["beb4a264.b898d","bdc677b5.05ad78"]]},{"id":"4b7f62ab.b6c7fc","type":"debug","z":"8d42983d.4adc88","name":"add proposal","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":200,"wires":[]},{"id":"1e907975.d66507","type":"debug","z":"8d42983d.4adc88","name":"gotNotUnderstood","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":240,"wires":[]},{"id":"e337d433.5d86c8","type":"split","z":"8d42983d.4adc88","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":740,"y":580,"wires":[["d7f90d1d.9f95b"]]},{"id":"97618ce5.0b926","type":"split","z":"8d42983d.4adc88","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":740,"y":620,"wires":[["33d8fd41.3a0712"]]},{"id":"33d8fd41.3a0712","type":"function","z":"8d42983d.4adc88","name":"sendAcceptedResponses","func":"var p = JSON.parse(JSON.stringify(msg.payload))\nvar sender = p.frame.receiver\nvar receiver = p.frame.sender\np.frame.sender = sender\np.frame.receiver = receiver\np.frame.type = \"acceptProposal\"\nmsg.payload = p\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":620,"wires":[["beddd131.5b29c","6bc56c13.854134","d39c0c36.33097"]]},{"id":"b00c02cb.a8512","type":"switch","z":"1ffd4ae2.3fc615","name":"","property":"payload.frame.type","propertyType":"msg","rules":[{"t":"eq","v":"callForProposal","vt":"str"},{"t":"eq","v":"acceptProposal","vt":"str"},{"t":"eq","v":"notUnderstood","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":380,"wires":[["a1fd9cfc.df205"],["dc766106.9d089"],["cf872a80.387a48"]]},{"id":"a1fd9cfc.df205","type":"function","z":"1ffd4ae2.3fc615","name":"handleCallForProposal","func":"var p = JSON.parse(JSON.stringify(msg.payload))\nvar sender = p.frame.receiver\nvar receiver = p.frame.sender\np.frame.sender = sender\np.frame.receiver = receiver\np.frame.type = \"proposal\"\nmsg.amqpMessage = {}\nmsg.payload = p\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":340,"wires":[["e492aca9.02031","f64e130.f178cf","154f69e7.b72b46"]]},{"id":"cf872a80.387a48","type":"function","z":"1ffd4ae2.3fc615","name":"handleNotUnderstood","func":"msg.amqpMessage = {}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":460,"wires":[["4ead4d03.97df54"]]},{"id":"4ead4d03.97df54","type":"debug","z":"1ffd4ae2.3fc615","name":"gotNotUnderstood","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":460,"wires":[]},{"id":"dc766106.9d089","type":"function","z":"1ffd4ae2.3fc615","name":"handleAcceptProposal","func":"var p = JSON.parse(JSON.stringify(msg.payload))\nvar sender = p.frame.receiver\nvar receiver = p.frame.sender\np.frame.sender = sender\np.frame.receiver = receiver\np.frame.type = \"proposal\"\nmsg.amqpMessage = {}\nmsg.payload = p\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":400,"wires":[["4379085d.f605b8"]]},{"id":"4379085d.f605b8","type":"debug","z":"1ffd4ae2.3fc615","name":"wonProposal","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":960,"y":380,"wires":[]},{"id":"beb4a264.b898d","type":"function","z":"8d42983d.4adc88","name":"generate callForProposal","func":"var i40aas = global.get('aas');\nvar sender = {\n   \"identification\":{\n      \"id\":\"sr1\",\n      \"idType\":\"IRI\"\n   },\n   \"role\":{\n      \"name\":\"serviceRequestor\"\n   }\n}\nvar frame = new i40aas.Frame({\nconversationId:\"0819\",\nmessageId: \"\"+Math.random()*1000,\nreceiver:{\n       \"role\":{\n      \"name\":\"serviceProvider\"\n   }\n},\nsemanticProtocol:\"i40:registry-semanticProtocol/bidding\",\nsender:sender,\ntype:\"callForProposal\"   \n})\n\nvar interactionElements  = [new i40aas.Property({\n      \"semanticId\": {\n        \"keys\": [\n          {\n            \"type\": \"GlobalReference\",\n            \"idType\": \"IRDI\",\n            \"value\": \"0173-1#02-AAO739#001\",\n            \"local\": false\n          }\n        ]\n      },\n      \"idShort\": \"listprice\",\n      \"modelType\": {\n        \"name\": \"Property\"\n      },\n      \"valueType\": \"string\",\n      \"value\": \"12.34\"\n    })]\nvar p = new i40aas.InteractionMessage({frame:frame,interactionElements:interactionElements})\nmsg.payload = JSON.stringify(p);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":540,"wires":[["beddd131.5b29c","d5a0f156.c5e7e","d39c0c36.33097"]]},{"id":"bdc677b5.05ad78","type":"delay","z":"8d42983d.4adc88","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":370,"y":600,"wires":[["74ea6f12.0cfe4"]]},{"id":"a2a95e83.f65f1","type":"amqp out","z":"58283f8d.5a784","name":"send msg to frame.receiver","routingkey":"${CORE_EGRESS_ROUTINGKEY}","iotype":"3","ioname":"${CORE_EGRESS_EXCHANGE}","server":"414c7aba.18b754","x":1020,"y":200,"wires":[]},{"id":"fc867a0c.124658","type":"amqp in","z":"58283f8d.5a784","name":"serviceProviderIn","topic":"","iotype":"4","ioname":"serviceProviderIn2","server":"414c7aba.18b754","x":80,"y":320,"wires":[["f33ef29d.ba6bb"]]},{"id":"9fb86aa2.745808","type":"debug","z":"58283f8d.5a784","name":"SendProposal","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":220,"wires":[]},{"id":"f33ef29d.ba6bb","type":"function","z":"58283f8d.5a784","name":"fix amqp lib bug","func":"msg.amqpMessage = {}\ntry{\nmsg.payload = JSON.parse(msg.payload)\n}catch(e){\n    //is object\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":320,"wires":[["d40fbd71.3e16a","64f64184.acf1d"]]},{"id":"d40fbd71.3e16a","type":"debug","z":"58283f8d.5a784","name":"ServiceProviderIn","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":230,"y":260,"wires":[]},{"id":"c1f7bdcd.cbcb5","type":"switch","z":"58283f8d.5a784","name":"","property":"payload.frame.type","propertyType":"msg","rules":[{"t":"eq","v":"callForProposal","vt":"str"},{"t":"eq","v":"acceptProposal","vt":"str"},{"t":"eq","v":"notUnderstood","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":320,"wires":[["b363534d.834f2"],["ef56d666.98d588"],["2cee7cbd.c86834"]]},{"id":"b363534d.834f2","type":"function","z":"58283f8d.5a784","name":"handleCallForProposal","func":"var p = JSON.parse(JSON.stringify(msg.payload))\nvar sender = p.frame.receiver\nvar receiver = p.frame.sender\np.frame.sender = sender\np.frame.receiver = receiver\np.frame.type = \"proposal\"\nmsg.amqpMessage = {}\nmsg.payload = p\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":280,"wires":[["a2a95e83.f65f1","9fb86aa2.745808","378438a6.37d698"]]},{"id":"2cee7cbd.c86834","type":"function","z":"58283f8d.5a784","name":"handleNotUnderstood","func":"msg.amqpMessage = {}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":400,"wires":[["f0fcd2de.f268f"]]},{"id":"f0fcd2de.f268f","type":"debug","z":"58283f8d.5a784","name":"gotNotUnderstood","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":400,"wires":[]},{"id":"ef56d666.98d588","type":"function","z":"58283f8d.5a784","name":"handleAcceptProposal","func":"var p = JSON.parse(JSON.stringify(msg.payload))\nvar sender = p.frame.receiver\nvar receiver = p.frame.sender\np.frame.sender = sender\np.frame.receiver = receiver\np.frame.type = \"proposal\"\nmsg.amqpMessage = {}\nmsg.payload = p\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":320,"wires":[["6c40e0e8.69968"]]},{"id":"6c40e0e8.69968","type":"debug","z":"58283f8d.5a784","name":"wonProposal","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":320,"wires":[]},{"id":"4f8080ab.89fb6","type":"debug","z":"8d42983d.4adc88","name":"notAccepted","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":500,"wires":[]},{"id":"6bc56c13.854134","type":"debug","z":"8d42983d.4adc88","name":"accepted","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":700,"wires":[]},{"id":"71ee36fa.663008","type":"amqp in","z":"9432d94b.0e9ef8","name":"serviceProviderIn","topic":"","iotype":"4","ioname":"serviceProviderInGeneric","server":"414c7aba.18b754","x":120,"y":280,"wires":[["a4770212.9dcba"]]},{"id":"59de3fa0.9cfe5","type":"amqp out","z":"9432d94b.0e9ef8","name":"send msg to frame.receiver","routingkey":"","iotype":"3","ioname":"ingress","server":"414c7aba.18b754","x":940,"y":280,"wires":[]},{"id":"a4770212.9dcba","type":"function","z":"9432d94b.0e9ef8","name":"fix amqp lib bug","func":"msg.amqpMessage = {}\ntry{\nmsg.payload = JSON.parse(msg.payload)\n}catch(e){\n    //is object\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["9dad59a.00d9ea8"]]},{"id":"9dad59a.00d9ea8","type":"function","z":"9432d94b.0e9ef8","name":"addReceiverIdToRoutingKey","func":"msg.amqpMessage = {}\n//ingress.i40:registry-semanticProtocol/bidding.serviceProvider.sp2.*\nvar topicSegments = msg.topic.split(\".\");\nvar topic = \"\";\ntopicSegments.forEach(function(segment,index){\n    topic += segment + \".\";\n    if(index == 2){\n        topic += msg.payload.frame.receiver.identification.id +\".\"\n    }\n})\ntopic=topic.slice(0, -1); \nmsg.topic = topic;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["59de3fa0.9cfe5","4c58e285.60dafc"]]},{"id":"4c58e285.60dafc","type":"debug","z":"9432d94b.0e9ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":160,"wires":[]},{"id":"d39c0c36.33097","type":"websocket out","z":"8d42983d.4adc88","name":"","server":"","client":"d6499cdc.7f646","x":1430,"y":400,"wires":[]},{"id":"378438a6.37d698","type":"websocket out","z":"58283f8d.5a784","name":"","server":"","client":"bcaff826.d51fe8","x":990,"y":160,"wires":[]},{"id":"154f69e7.b72b46","type":"websocket out","z":"1ffd4ae2.3fc615","name":"","server":"","client":"46acc44c.af95ec","x":870,"y":160,"wires":[]},{"id":"47f73a8c.651894","type":"http in","z":"1ffd4ae2.3fc615","name":"","url":"/web/ui/sp1","method":"get","upload":false,"swaggerDoc":"","x":120,"y":720,"wires":[["deffcac8.783de8"]]},{"id":"fd2333cd.31d43","type":"http response","z":"1ffd4ae2.3fc615","name":"","statusCode":"","headers":{},"x":450,"y":720,"wires":[]},{"id":"deffcac8.783de8","type":"template","z":"1ffd4ae2.3fc615","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<script>\n    var spId = \"sp1\";\n    var outgoingUrl = `ws://localhost:1880/ws/sub/`+spId\n    console.log(outgoingUrl)\n    var socket2 = new WebSocket(outgoingUrl);\n\n    socket2.onopen = function () {\n        console.log(\"client connected\")\n        var message = {\n            'cmd': 'Client connected'\n        };\n        socket2.send(JSON.stringify(message));\n    };\n\n    socket2.onclose = function () {\n        console.log('Connection closed');\n    };\n\n    socket2.onerror = function (error) {\n        console.log('Error detected: ' + error);\n    };\n\n    socket2.onmessage = function (e) {\n\n        try {\n            var jData = JSON.parse(e.data)\n            console.log(jData.frame.type)\n            console.log(jData)\n            var senderId = \"\"\n            var senderRole = \"\"\n            var receiverId = \"\"\n            var receiverRole = \"\"\n            if (jData.frame.sender.identification) {\n                senderId = jData.frame.sender.identification.id\n            }\n            if (jData.frame.sender.role) {\n                senderRole = jData.frame.sender.role.name\n            }\n            if (jData.frame.receiver.identification) {\n                receiverId = jData.frame.receiver.identification.id\n            }\n            if (jData.frame.receiver.role) {\n                receiverRole = jData.frame.receiver.role.name\n            }\n\n            var text = `${jData.frame.type} Message from ${senderRole} with ID: ${senderId} to ${receiverRole} with ID: ${receiverId} `\n            document.getElementById('message_receive').innerHTML += `<p>${text}</p>`\n\n            if (receiverId == spId && receiverRole == \"serviceProvider\") {\n                switch (jData.frame.type) {\n                    case \"callForProposal\":\n                        setState(\"s2\");\n                        setTimeout(() => {\n                            setState(\"s3\");\n                        }, 2000);\n                        break;\n                    case \"acceptProposal\":\n                        setState(\"s4\");\n                        setTimeout(() => {\n                            setState(\"s1\");\n                        }, 2000);\n                        break;\n                    default:\n                        setState(\"s1\");\n                        break;\n\n                }\n            }\n        } catch (e) {\n            console.log(e);\n            return\n        }\n    }\n\n    var sendMessage = function () {\n        let message = document.getElementById('message_send')\n        let messageRaw = message.textContent\n        console.log(`sending message ${messageRaw}`)\n        socket2.send(messageRaw);\n    }\n\n    var setState = function (state) {\n        var states = [\"s1\", \"s2\", \"s3\",\"s4\"]\n        states.forEach(function (s) {\n            if (s == state) {\n                document.getElementById(s).classList.remove('default');\n                document.getElementById(s).classList.add('current');\n            } else {\n                document.getElementById(s).classList.add('default');\n                document.getElementById(s).classList.remove('current');\n            }\n        })\n    }\n\n</script>\n<style>\n    .default {\n        background-color: powderblue;\n        width: 250px;\n        height: 30px;\n    }\n\n    .current {\n        background-color: rgb(23, 78, 85);\n        width: 250px;\n        height: 30px;\n    }\n</style>\n\n<body>\n    <h3>Service Provider1</h3>\n    <div id=\"s1\" class=\"current\">Wait for Call for Proposal</div>\n    <div id=\"s2\" class=\"default\">Create Proposal</div>\n    <div id=\"s3\" class=\"default\">Wait for response</div>\n    <div id=\"s4\" class=\"default\">do job</div>\n    <div id=\"message_receive\"></div>\n</body>","output":"str","x":300,"y":720,"wires":[["fd2333cd.31d43"]]},{"id":"3bd2739d.43d68c","type":"delay","z":"1ffd4ae2.3fc615","name":"only for demo","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":320,"wires":[["b00c02cb.a8512","154f69e7.b72b46"]]},{"id":"4acfb920.673e08","type":"http in","z":"58283f8d.5a784","name":"","url":"/web/ui/sp2","method":"get","upload":false,"swaggerDoc":"","x":120,"y":640,"wires":[["7062c9d8.f1c108"]]},{"id":"d69c2f35.98226","type":"http response","z":"58283f8d.5a784","name":"","statusCode":"","headers":{},"x":450,"y":640,"wires":[]},{"id":"7062c9d8.f1c108","type":"template","z":"58283f8d.5a784","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<script>\n    var spId = \"sp2\";\n    var outgoingUrl = `ws://localhost:1880/ws/sub/`+spId\n    console.log(outgoingUrl)\n    var socket2 = new WebSocket(outgoingUrl);\n\n    socket2.onopen = function () {\n        console.log(\"client connected\")\n        var message = {\n            'cmd': 'Client connected'\n        };\n        socket2.send(JSON.stringify(message));\n    };\n\n    socket2.onclose = function () {\n        console.log('Connection closed');\n    };\n\n    socket2.onerror = function (error) {\n        console.log('Error detected: ' + error);\n    };\n\n    socket2.onmessage = function (e) {\n\n        try {\n            var jData = JSON.parse(e.data)\n            console.log(jData.frame.type)\n            console.log(jData)\n            var senderId = \"\"\n            var senderRole = \"\"\n            var receiverId = \"\"\n            var receiverRole = \"\"\n            if (jData.frame.sender.identification) {\n                senderId = jData.frame.sender.identification.id\n            }\n            if (jData.frame.sender.role) {\n                senderRole = jData.frame.sender.role.name\n            }\n            if (jData.frame.receiver.identification) {\n                receiverId = jData.frame.receiver.identification.id\n            }\n            if (jData.frame.receiver.role) {\n                receiverRole = jData.frame.receiver.role.name\n            }\n\n            var text = `${jData.frame.type} Message from ${senderRole} with ID: ${senderId} to ${receiverRole} with ID: ${receiverId} `\n            document.getElementById('message_receive').innerHTML += `<p>${text}</p>`\n\n            if (receiverId == spId && receiverRole == \"serviceProvider\") {\n                switch (jData.frame.type) {\n                    case \"callForProposal\":\n                        setState(\"s2\");\n                        setTimeout(() => {\n                            setState(\"s3\");\n                        }, 2000);\n                        break;\n                    case \"acceptProposal\":\n                        setState(\"s4\");\n                        setTimeout(() => {\n                            setState(\"s1\");\n                        }, 2000);\n                        break;\n                    default:\n                        setState(\"s1\");\n                        break;\n\n                }\n            }\n        } catch (e) {\n            console.log(e);\n            return\n        }\n    }\n\n    var sendMessage = function () {\n        let message = document.getElementById('message_send')\n        let messageRaw = message.textContent\n        console.log(`sending message ${messageRaw}`)\n        socket2.send(messageRaw);\n    }\n\n    var setState = function (state) {\n        var states = [\"s1\", \"s2\", \"s3\",\"s4\"]\n        states.forEach(function (s) {\n            if (s == state) {\n                document.getElementById(s).classList.remove('default');\n                document.getElementById(s).classList.add('current');\n            } else {\n                document.getElementById(s).classList.add('default');\n                document.getElementById(s).classList.remove('current');\n            }\n        })\n    }\n\n</script>\n<style>\n    .default {\n        background-color: powderblue;\n        width: 250px;\n        height: 30px;\n    }\n\n    .current {\n        background-color: rgb(23, 78, 85);\n        width: 250px;\n        height: 30px;\n    }\n</style>\n\n<body>\n    <h3>Service Provider 2</h3>\n    <div id=\"s1\" class=\"current\">Wait for Call for Proposal</div>\n    <div id=\"s2\" class=\"default\">Create Proposal</div>\n    <div id=\"s3\" class=\"default\">Wait for response</div>\n    <div id=\"s4\" class=\"default\">do job</div>\n    <div id=\"message_receive\"></div>\n</body>","output":"str","x":300,"y":640,"wires":[["d69c2f35.98226"]]},{"id":"64f64184.acf1d","type":"delay","z":"58283f8d.5a784","name":"only for demo","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":260,"wires":[["c1f7bdcd.cbcb5","378438a6.37d698"]]},{"id":"ebe711c5.7d27","type":"http in","z":"8d42983d.4adc88","name":"","url":"/web/ui/sr1","method":"get","upload":false,"swaggerDoc":"","x":140,"y":820,"wires":[["2ba0de61.2fafe2"]]},{"id":"f06a6a3e.e15a68","type":"http response","z":"8d42983d.4adc88","name":"","statusCode":"","headers":{},"x":470,"y":820,"wires":[]},{"id":"2ba0de61.2fafe2","type":"template","z":"8d42983d.4adc88","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<script>\n    var spId = \"sr1\";\n    var outgoingUrl = `ws://localhost:1880/ws/sub/`+spId\n    console.log(outgoingUrl)\n    var socket2 = new WebSocket(outgoingUrl);\n\n    socket2.onopen = function () {\n        console.log(\"client connected\")\n        var message = {\n            'cmd': 'Client connected'\n        };\n        socket2.send(JSON.stringify(message));\n    };\n\n    socket2.onclose = function () {\n        console.log('Connection closed');\n    };\n\n    socket2.onerror = function (error) {\n        console.log('Error detected: ' + error);\n    };\n\n    socket2.onmessage = function (e) {\n\n        try {\n            var jData = JSON.parse(e.data)\n            console.log(jData.frame.type)\n            console.log(jData)\n            var senderId = \"\"\n            var senderRole = \"\"\n            var receiverId = \"\"\n            var receiverRole = \"\"\n            if (jData.frame.sender.identification) {\n                senderId = jData.frame.sender.identification.id\n            }\n            if (jData.frame.sender.role) {\n                senderRole = jData.frame.sender.role.name\n            }\n            if (jData.frame.receiver.identification) {\n                receiverId = jData.frame.receiver.identification.id\n            }\n            if (jData.frame.receiver.role) {\n                receiverRole = jData.frame.receiver.role.name\n            }\n\n            var text = `${jData.frame.type} Message from ${senderRole} with ID: ${senderId} to ${receiverRole} with ID: ${receiverId} `\n            document.getElementById('message_receive').innerHTML += `<p>${text}</p>`\n\n            if (senderId == spId && senderRole == \"serviceRequestor\") {\n                switch (jData.frame.type) {\n                    case \"callForProposal\":\n                        setState(\"s2\");\n                        setTimeout(() => {\n                            setState(\"s3\");\n                        }, 5000);\n                        break;\n                    default:\n                        setState(\"s1\");\n                        break;\n\n                }\n            }\n        } catch (e) {\n            console.log(e);\n            return\n        }\n    }\n\n    var sendMessage = function () {\n        let message = document.getElementById('message_send')\n        let messageRaw = message.textContent\n        console.log(`sending message ${messageRaw}`)\n        socket2.send(messageRaw);\n    }\n\n    var setState = function (state) {\n        var states = [\"s1\", \"s2\", \"s3\"]\n        states.forEach(function (s) {\n            if (s == state) {\n                document.getElementById(s).classList.remove('default');\n                document.getElementById(s).classList.add('current');\n            } else {\n                document.getElementById(s).classList.add('default');\n                document.getElementById(s).classList.remove('current');\n            }\n        })\n    }\n\n</script>\n<style>\n    .default {\n        background-color: powderblue;\n        width: 250px;\n        height: 30px;\n    }\n\n    .current {\n        background-color: rgb(23, 78, 85);\n        width: 250px;\n        height: 30px;\n    }\n</style>\n\n<body>\n    <h3>Service Requestor 1</h3>\n    <div id=\"s1\" class=\"current\">Prepare Call for Proposal</div>\n    <div id=\"s2\" class=\"default\">Wait for Proposals</div>\n    <div id=\"s3\" class=\"default\">Choose Proposal</div>\n    <div id=\"message_receive\"></div>\n</body>","output":"str","x":320,"y":820,"wires":[["f06a6a3e.e15a68"]]},{"id":"ff3f5b6e.f070d8","type":"delay","z":"8d42983d.4adc88","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":260,"wires":[["d39c0c36.33097","f9844b8a.7648f8"]]}]