src/compose/volumes/echo-skill/data/flows copy.json
[{"id":"1ffd4ae2.3fc615","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8d42983d.4adc88","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"414c7aba.18b754","type":"amqp-server","z":"","host":"${CORE_BROKER_HOST}","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"egress\",\"type\":\"topic\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"simple-skill-in\"}\n\t\t],\n\t\"bindings\": [\n\t\t{\"source\": \"egress\", \"queue\": \"simple-skill-in\",\"pattern\":\"ingress.i40:registry-semanticProtocol/echo.#\"}\n\t]\n}"},{"id":"f64e130.f178cf","type":"amqp out","z":"1ffd4ae2.3fc615","name":"send msg to frame.receiver","routingkey":"${CORE_EGRESS_ROUTINGKEY}","iotype":"3","ioname":"${CORE_EGRESS_EXCHANGE}","server":"414c7aba.18b754","x":880,"y":260,"wires":[]},{"id":"b3dcd746.d70cd8","type":"amqp in","z":"1ffd4ae2.3fc615","name":"serviceProviderIn","topic":"","iotype":"4","ioname":"serviceProviderIn1","server":"414c7aba.18b754","x":120,"y":260,"wires":[["dfc0e670.fedfa8"]]},{"id":"33d6980.06c5868","type":"function","z":"1ffd4ae2.3fc615","name":"GenerateResponseMsg","func":"var p = JSON.parse(msg.payload)\nvar sender = p.frame.receiver\nvar receiver = p.frame.sender\np.frame.sender = sender\np.frame.receiver = receiver\nmsg.amqpMessage = {}\nmsg.payload = JSON.stringify(p)\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":260,"wires":[["e492aca9.02031","f64e130.f178cf"]]},{"id":"e492aca9.02031","type":"debug","z":"1ffd4ae2.3fc615","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":180,"wires":[]},{"id":"dfc0e670.fedfa8","type":"function","z":"1ffd4ae2.3fc615","name":"fix amqp lib bug","func":"msg.amqpMessage = {}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":260,"wires":[["33d6980.06c5868","77104099.0d1f7"]]},{"id":"77104099.0d1f7","type":"debug","z":"1ffd4ae2.3fc615","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":180,"wires":[]},{"id":"beddd131.5b29c","type":"amqp out","z":"8d42983d.4adc88","name":"send msg to frame.receiver","routingkey":"${CORE_EGRESS_ROUTINGKEY}","iotype":"3","ioname":"${CORE_EGRESS_EXCHANGE}","server":"414c7aba.18b754","x":1000,"y":120,"wires":[]},{"id":"c05a1de7.ca3ff","type":"amqp in","z":"8d42983d.4adc88","name":"serviceRequestorIn","topic":"","iotype":"4","ioname":"serviceRequestorIn1","server":"414c7aba.18b754","x":90,"y":120,"wires":[["e3967711.1fb278"]]},{"id":"beb71780.a31128","type":"function","z":"8d42983d.4adc88","name":"GenerateResponseMsg","func":"var p = JSON.parse(msg.payload)\nvar sender = p.frame.receiver\nvar receiver = p.frame.sender\np.frame.sender = sender\np.frame.receiver = receiver\nmsg.amqpMessage = {}\nmsg.payload = JSON.stringify(p)\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["d5a0f156.c5e7e","e801e81b.f4c288"]]},{"id":"d5a0f156.c5e7e","type":"debug","z":"8d42983d.4adc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":40,"wires":[]},{"id":"e3967711.1fb278","type":"function","z":"8d42983d.4adc88","name":"fix amqp lib bug","func":"msg.amqpMessage = {}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["beb71780.a31128","7bdd2a9c.5b92c4"]]},{"id":"7bdd2a9c.5b92c4","type":"debug","z":"8d42983d.4adc88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":40,"wires":[]},{"id":"e801e81b.f4c288","type":"delay","z":"8d42983d.4adc88","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":120,"wires":[["beddd131.5b29c"]]}]